<%- include("partials/header")%>
<div class="container-center">
    <h3>Welcome <%= currentUser.username %></h3>
    <img src="images/hero.svg" class="d-block" alt="">
    <a href="/transections/<%= currentUser._id%>" class="btn btn-primary mt-4">view transections</a>
</div>
<%- include("partials/footer")%>