<%- include("partials/header")%>

<form action="/transections" method="POST">
    <input type="text" name="text" placeholder="enter text.."/>
    <input type="text" name="amount" placeholder="amount">
    <button>Submit</button>
</form>
<%- include("partials/footer")%>