*{
    font-family: 'Roboto', sans-serif;
}

#deleteForm, .card-display{
    display: inline;
}

#balance{
    font-size: 2rem;
    font-weight: 100;
    font-family: 'Langar', cursive;
}

.container-center{
    margin: 1rem auto;
    width: fit-content;
}

.text-right{
    float: right;
}

.card-display{
    border: none;
    width: 12rem;
}
img{
    width: 30rem;
}
h1, h4{
    font-family: 'Exo 2', sans-serif;
}

#formE{
    text-align: center;
    margin: 3rem auto;
}